<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantidad de Datos</title>
</head>
<body>

    <h1>Pagina correo</h1>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</form>
  </ul>
  <!-- Mostrar el botón solo si se ha enviado el mensaje flash -->
  <a href="{{ url_for('correo') }}"><button>Ir a Correo</button></a>

</body>
</html>