<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantidad de Datos</title>
</head>
<body>
    <h1>Ejecutar proceso de carga</h1>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('execute_import') }}" method="post">
        <button type="submit">Ejecutar carga</button>
    </form>

    {% if table_data %}
    <h2>Resultados:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Base de datos</th>
                <th>User ID</th>
                <th>Clase de DB</th>
                <th>Estado del Usuario</th>
                <th>Manager del Usuario</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in table_data %}
            <tr>
                <td>{{ entry['db_name'] }}</td>
                <td>{{ entry['user_id'] }}</td>
                <td>{{ entry['db_class'] }}</td>
                <td>{{ entry['user_state'] }}</td>
                <td>{{ entry['user_manager'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p></p>
    {% endif %}
</body>
</html>
